@using Microsoft.AspNetCore.Identity
@using EduDirectory3.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext DbContext


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User)){
    
        var email = UserManager.GetUserName(User);
        var usuario = DbContext.Usuario.FirstOrDefault(u => u.Correo == email);
        var nombreMostrar = usuario?.Nombre ?? email;
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hola, @nombreMostrar!
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Perfil</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Favorito" asp-action="Index">Favoritos</a>
                </li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item">Cerrar sesión</button>
                    </form>
                </li>
            </ul>
        </li>
}
else{

    <li class="nav-item">
            <a class="text-white btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Acceso institución</a>
    </li>
}
</ul>
