@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-light pt-2">
    <h3 class=" display-3 text-center fw-bolder mt-1"> <b>Encuentra el futuro de</b> </h3>
    <h3 class="display-3 text-center fw-bolder text-primary"> <b>tus hijos aquí</b> </h3>
    <p class="text-center text-muted fs-5 mb-0 mt-3">La plataforma más completa para comparar y elegir instituciones educativas</p>
    <p class=" text-center text-muted fs-5">con opiniones reales y geolocalización.</p>
    <div class="container d-sm-flex justify-content-center">
        <form class=" d-flex" role="search">
            <input class="form-control me-4" style="width:600px; height:50px;" type="search" placeholder="¿Qué buscas? (ej. Liceo departamental)" aria-label="Búsqueda" _mstplaceholder="74607" _msthash="11" _mstaria-label="74607">
            <button class="btn btn-primary d-inline-flex align-items-center" type="submit" _msttexthash="127192" _msthash="12"> <b>Buscar ahora</b> </button>
        </form>
    </div>
    <div>
        <div class=" row g-3 py-5 row-cols-1 row-cols-lg-5 justify-content-center">
            <div class="feature col bg-white border rounded-3 border-1 m-3 ">
                <div style="background-color:#E6F7FF;" class=" feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 p-4 mt-4 rounded-3">
                    <img src="Imagen/filtrar.png" alt="Alternate Text" width="20" height="20" />
                </div>
                <h5 class="text-body-emphasis m-4" _msttexthash="300534" _msthash="9"> <b>Filtros avanzados</b> </h5>
                <p _msttexthash="13241631" _msthash="10" class="m-4 text-muted">Encuentra por nivel o jornada.</p>

            </div>
            <div class="feature col bg-white border rounded-3 border-1 m-3">
                <div style="background-color:#E6F7FF;" class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 p-4 mt-4 rounded-3">
                    <img src="Imagen/estrella-blanca.png" alt="Alternate Text" width="25" height="25" />
                </div>
                <h5 class="text-body-emphasis m-4" _msttexthash="300534" _msthash="12"><b>Opiniones reales</b></h5>
                <p _msttexthash="13241631" _msthash="13" class="m-4 text-muted">Encuentra la opinión de la comunidad educativa.</p>

            </div>
            <div class="feature col bg-white border rounded-3 border-1 m-3">
                <div style="background-color:#E6F7FF;" class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 p-4 mt-4 rounded-3">
                    <img src="Imagen/localizacion.png" alt="Alternate Text" width="25" height="25" />
                </div>
                <h5 class="text-body-emphasis m-4" _msttexthash="300534" _msthash="15"><b>Geolocalización</b></h5>
                <p _msttexthash="13241631" _msthash="16" class="m-4 text-muted">Instituciones cerca de tu hogar.</p>

            </div>
            <div class="feature col bg-white border rounded-3 border-1 m-3">
                <div style="background-color:#E6F7FF;" class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 p-4 mt-4 rounded-3">
                    <img src="Imagen/arriba-y-abajo.png" alt="Alternate Text" width="30" height="30" />
                </div>
                <h5 class=" text-body-emphasis m-4" _msttexthash="300534" _msthash="15"><b>Comparación</b></h5>
                <p _msttexthash="13241631" class="m-4 text-muted" _msthash="16">Analiza múltiples opciones a la vez.</p>

            </div>
        </div>

    </div>

</div>
